@import './design-system.css';

html, body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background: var(--bs-gray-1);
  color: var(--bs-black-6);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
}

.box-shadow {
  box-shadow: var(--bs-shadow-1), var(--bs-shadow-3);
}

.border-radius-8 {
  border-radius: 8px;
}

.border-radius-6 {
  border-radius: 6px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
} 