.header {
  display: flex;
  align-items: center;
  /* background: var(--bs-black-6); */
  height: 56px;
  padding: 0 32px;
  box-shadow: var(--bs-shadow-1);
  gap: 16px;
  justify-content: space-between;
}
.logo {
  letter-spacing: 2px;
  margin-inline-end: 32px;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  color: var(--bs-gray-1);
}

.logoImage {
  background-image: url('https://buysearch.s3.eu-north-1.amazonaws.com/buysearch-logo-minimal.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 140px;
  height: 80px;
}

.logo:hover {
  color: var(--bs-white);
  transform: scale(1.05);;
}

.genderSwitch {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.genderOption {
  color: var(--bs-white);
  opacity: 0.8;
  cursor: pointer;
  padding-inline-start: 36px;
  padding-inline-end: 36px;
  /* font-size: 14px; font-weight: 700; */
  text-transform: uppercase;
  height: 56px;
  display: flex;
  align-items: center;
  background: var(--bs-black-6);
  border: none;
  transition: background 0.13s, color 0.13s, opacity 0.13s;
}
.genderOptionActive {
  background: var(--bs-black-3);
  color: var(--bs-white);
  opacity: 1;
}
.genderDivider {
  width: 1px;
  height: 32px;
  background: var(--bs-black-5);
  margin: 0;
}

.logoutButton {
    color: white;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
}

.logoutButton:hover {
    text-decoration: underline;
    opacity: 1;
}

.iconBtn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  transition: background 0.15s;
  border: none;
  outline: none;
  position: relative;
  padding: 0;
}
.iconBtn svg {
  display: block;
  margin: auto;
}
.iconBtn:hover {
  background: var(--bs-black-5);
}
.heart {
  /* No border for header heart icon */
  border: none;
  background: transparent;
}

.heartIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    margin-top: 8px;
    margin-inline-end: 8px;
  }
}

.heartFilled {
  background: transparent;
  border: none;
}

@media (max-width: 600px) {
  .logo {
    font-size: 18px !important;
    margin-inline-end: 12px;
    letter-spacing: 1px;
    padding: 0;
  }
  .headerSearch {
    display: none !important;
  }
  .genderSwitch {
    display: none !important;
  }

  .header {
    justify-content: space-between;
    padding-inline: 16px;
  }
}